<h1>Dice Roll</h1>

<form action="/process_roll">

<label for="number_of_dice">Number of dice to roll?</label>
<input id= "number_of_dice" name="dice">

<label for="how_many_sides">How many sides per die?</label>
<input id= "how_many_sides" name="sides">

<button>Roll!</button>

</form>
 

